#content table {
	margin-left: 2em;
	margin-bottom: 40px;
	
	table-layout:fixed;
	width: 95%;
}

#content td{
	border-right: 1px solid #aaaaaa;
	text-align: left;
	padding: 0.1em;	
}

#content td.a2 {
	border-right: 1px solid #aaaaaa;
	text-align: center;
	padding: 0.1em;
}

#content a:hover, td.a2:hover {
	font-weight: normal;
	background: #CCE5FF;
}

tr {
	background-color: #FFFFFF;
}

.normal {
	background-color: #FFFFFF;	
}

/*.highlight { background-color: #8888FF }*/
.highlight {
	background-color: #CCE5FF;
}

#content td:last-child {
	border-right: none;
	text-align: center;
}

/*#content th {
	text-align: left;
	padding-left: 0.5em;
	padding-right: 5em;
	background: #eeeeff;
	border-bottom: 1px solid white;
	border: 1px solid #aaaaaa;
	font-variant:	small-caps;
}*/

#content strong, div.paging a:hover {
	font-weight: normal;
	background: #CCE5FF;
}

#content a, #content strong {
	/*background: #e3e3e3;*/
	padding: 4px 7px;
	text-decoration: none;
	/*border: 1px solid #cac9c9;*/
	color: #292929;
	/*font-size: 13px;*/
	font-size:14px;
	display: inline-block;
	
}

div.paging a, div.paging strong {
	background: #e3e3e3;
	padding: 4px 7px;
	text-decoration: none;
	border: 1px solid #cac9c9;
	color: #292929;
	font-size: 13px;
}

#content div.paging {
	font-variant: small-caps;
    margin-left: 2em;
    margin-bottom: 4em;
}

#content h3 {
	font-variant: small-caps;
    margin-left: 2em;
    margin-top: 1.5em;
}

#searchform{
	/*position: absolute;
	top: 45px;
	left: 590px;
	font-variant:	small-caps;*/
	
	/*font-variant: small-caps;
    left: 73.5%;
    position: relative;
    top: -38px;
    width: 6em;*/
	
    font-variant: small-caps;
    left: 65.5%;
    position: relative;
    top: -38px;


}

#searchform input{
	width: 250px;
}

#typing{
	left: 1003px;
    position: absolute;
    top: 36px;
}

#content img:hover {
	font-weight: normal;
	background: #FA5858;
}

#tname {
	text-align: left;
	padding-left: 0.5em;
	padding-right: 2.5em;
	background: #eeeeff;
	border: 1px solid #aaaaaa;
	font-variant:	small-caps;
}

#tkv {
	text-align: left;
	padding-left: 0.5em;
	padding-right: 2.5em;
	background: #eeeeff;
	border: 1px solid #aaaaaa;
	font-variant:	small-caps;
}

#tq {
	text-align: left;
	padding-left: 0.5em;
	padding-right: 2.5em;
	background: #eeeeff;
	border: 1px solid #aaaaaa;
	font-variant:	small-caps;
}

#tdel {
	text-align: left;
	padding-left: 0.5em;
	padding-right: 2.5em;
	background: #eeeeff;
	border: 1px solid #aaaaaa;
	font-variant:	small-caps;
	width: 2em;
}