label{
	
		width: 16em;
    	display: block;
    	float: left;
    	cursor: pointer;  	
}

div#content h3{
	
		/*font-family:Verdana,Tahoma,Arial,sans-serif; */
		color:#000000;
		font-size: 20px; 
		font-variant:	small-caps;
		margin-top: 1.5em;
}

div#content legend{
	
		/*font-family:Verdana,Tahoma,Arial,sans-serif; */
		color:#000000;
		font-size: 20px; 
		color:#525252;
		line-height: 30px;
		margin-top: 3px;
		font-weight: bolder;
		font-variant:	small-caps;
}

div.input{
		/*font-family:Verdana,Tahoma,Arial,sans-serif; */
		color:#000000;
		font-size: 14px;
		margin-left: 14px;
		margin-top: 7px;
		font-variant:	small-caps;
		
}

.posvonbis{
		margin-left:16em;   	
}

#Telefongroup{
		font-family:Verdana,Tahoma,Arial,sans-serif; 
		color:#000000;
		font-size: 14px;
		background-color: #eeeeff;
    	padding-top: 1em;
    	padding-bottom: 1.5em;
   		border: 1px solid silver;
   		font-variant:	small-caps;
}

#Telefongroup label{
		
		width: 16em;
    	display: block;
    	float: left;
    	font-variant:	small-caps;
    	
}

.telefonattribut{
		
		width: 22em;
    	display: block;
    	float: middle;
    	margin-left: 16em;
    	font-variant:	small-caps;
	
}

#Kreisverbandgroup{
		font-family:Verdana,Tahoma,Arial,sans-serif; 
		color:#000000;
		font-size: 14px;
		background-color: #eeeeff;
    	padding-top: 1em;
    	padding-bottom: 1em;
   		border: 1px solid silver;
   		font-variant:	small-caps;
}

#Kreisverbandgroup label{
		
		width: 16em;
    	display: block;
    	float: left;
    	font-variant:	small-caps;
    	
}

.Kreisverbandattribut select{
	left: 16.7em;
    position: relative;
    font-variant:	small-caps;
}

#Emailgroup{
		font-family:Verdana,Tahoma,Arial,sans-serif; 
		color:#000000;
		font-size: 14px;
		background-color: #eeeeff;
    	padding-top: 1em;
    	padding-bottom: 1.5em;
   		border: 1px solid silver;
   		font-variant:	small-caps;
}

#Emailgroup label{
		
		width: 16em;
    	display: block;
    	float: left;
    	font-variant:	small-caps;
    	
}

.Emailattribut{
		
		width: 22em;
    	display: block;
    	float: middle;
    	margin-left: 16em;
    	font-variant:	small-caps;
	
}

#Positiongroup{
		font-family:Verdana,Tahoma,Arial,sans-serif; 
		color:#000000;
		font-size: 14px;
		background-color: #eeeeff;
    	padding-top: 1em;
    	padding-bottom: 1em;
   		border: 1px solid silver;
   		font-variant:	small-caps;
}

#Positiongroup label{
		
		width: 16em;
    	display: block;
    	float: left;   	
    	font-variant:	small-caps;
}

.Positionattribut select{
	left: 16.7em;
    position: relative;
    font-variant:	small-caps;
}

#QualifikationHabengroup{
		font-family:Verdana,Tahoma,Arial,sans-serif; 
		color:#000000;
		font-size: 14px;
		background-color: #eeeeff;
    	padding-top: 1em;
    	padding-bottom: 1em;
   		border: 1px solid silver;
   		font-variant:	small-caps;
}

#QualifikationHabengroup label{
		
		width: 16em;
    	display: block;
    	float: left;
    	font-variant:	small-caps;
}

.QualifikationHabenattribut select{
	left: 16.7em;
    position: relative;
    font-variant:	small-caps;
}

#QualifikationBedarfgroup{
		font-family:Verdana,Tahoma,Arial,sans-serif; 
		color:#000000;
		font-size: 14px;
		background-color: #eeeeff;
    	padding-top: 1em;
    	padding-bottom: 1em;
   		border: 1px solid silver;
   		font-variant:	small-caps;
	
}

#QualifikationBedarfgroup label{
		
		width: 16em;
    	display: block;
    	float: left;
    	font-variant:	small-caps;
}

.QualifikationBedarfattribut select{
	left: 16.7em;
    position: relative;
    font-variant:	small-caps;
}

#submitbutton{
	margin-bottom: 5em;
}